/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header Styling */
header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0 20px;        
}

header h1 {
  margin: 0;
  margin-right: 35px; 
  text-align: left; 
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding-left: 20px;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Portfolio Div Styling */
.portfolio-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#portfolio p {
  font-size: 14px;
}

.portfolio-row section {
  margin: 0 15px;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* Images */
img {
  max-width: 170px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

.pete-image-container img {
  max-width: 200px; 
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

/* Flex container elements styling */
.intro-container {
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.intro-text h3 {
  text-align: center;
}

.intro-text p {
  text-align: left;
}

li {
  text-align: left;
}